@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
}

#score1 {

    position: absolute;
    left: 10px; /* Adjust this value as needed */
    top: 50%; /* Adjust this value as needed */
    transform: translateY(-50%);
    margin-left: 40px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

#score2 {

    position: absolute;
    right: 10px; /* Adjust this value as needed */
    top: 50%; /* Adjust this value as needed */
    transform: translateY(-50%);
    margin-right: 40px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.oneX {
    position: absolute;
    top: 50%; /* Adjust this value as needed */
    transform: translateY(-50%);
}

.twoX {
    position: absolute;
    top: 50%; /* Adjust this value as needed */
    transform: translateY(-50%);
}

.threeX {
    position: absolute;
    top: 50%; /* Adjust this value as needed */
    transform: translateY(-50%);
}